/*untuk fullscreen*/
body, html {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  margin: 0;
  font: 400 1rem/1.8 "Montserrat", sans-serif;
  color: white;
}
/*efek parallax*/
.parallax {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*backgroud parallax*/
.bgimg-1 {
  background-image: url("auto-bg.jpg");
  min-height: 80%;
  filter: brightness(80%);
  z-index: 0;
 }
.bgimg-2 {
  background-image: url("pendidikan-bg.jpg");
  min-height: 100%;
  z-index: 0;
  filter: brightness(50%);
}

/*YOGA CHANDRA*/
.nama-awal {
  text-align: center;
  font-size: 300%;
  color: #e6e6e6;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

/* sosmed */
.sosmed {
  padding-top: 30px;
  padding-right: 30px;
  opacity: 70%;
  text-align: right;
  margin-top: 0;
}

.logo-sosmed {
  width: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.sosmed-about {
  margin-top: -10px;
  margin-left: -20px;
  opacity: 70%;
}

.logo-sosmed-about {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.logo-sosmed:hover {
  filter: brightness(50%);
}

.hover-sosmed:hover{
  opacity: 50%;
}

.nama-sosmed {
  position: relative;
  bottom: 28px;
  color: black; 
  text-decoration: none; 
}

/*Avatar*/
.avatar {
  border : solid #e6e6e6 5px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-75px);
}

/* Div Utama*/
.utama {
  height: 5000px; 
  background-color: #999999;
  z-index: 9;
  margin-right: inherit;
  margin-left: inherit;
}

/* Kotak About Me*/
.about-me {
  color: black;
  font-family: "GlacialIndifferenceRegular";
  font-size: 400%;
  margin-top: -40px;
  margin-left: 10%;
  padding: 0;
}

/*Garis2 di About Me*/
.garis-tetap {
  border-left: solid black 6px;
  width: 6px;
  height: 280px;
  transform: translateY(-230px);
  margin-left: 21%;
}

/*Text about*/
.text-about {
  transform: translateY(-520px);
  margin-left: 30%;
  font-size: 24px;
  text-align: justify;
  color: black;
  padding-left: 30px;
  width: 60%;
}

.skill-judul {
  color: blue;
  font-size: 170px;
  margin-top: -400px;
  margin-left: 120px;
  line-height: 150px;
  opacity: 20%;
  z-index: 1;
  position: relative;
}

.teks-kanan {
  margin-left: 53%;
  margin-top: -25%;
  font-size: 30px;
  color: black;
  font-family: "GlacialIndifferenceRegular";
  z-index: 5;
  position: relative;
}

.desc-kanan {
  font-size: 20px; 
  margin-top: -30px; 
  line-height: 20px; 
  margin-left: 53%; 
  color: black;
  z-index: 5;
  position: relative;
  width: 40%;
}

.teks-kiri {
  margin-left: 80px;
  margin-top: 150px;
  font-size: 30px;
  color: black;
  font-family: "GlacialIndifferenceRegular";
  z-index: 5;
  position: relative;
}

.desc-kiri {
  font-size: 20px; 
  margin-top: -30px; 
  line-height: 20px; 
  margin-left: 80px; 
  color: black;
  padding-right: 55%;
  z-index: 5;
  position: relative;
}

/*Box*/
.box-kecil {
  border: solid lightblue;
  background-color: lightblue;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transform: rotate(45deg);
  position: relative;
}

.box-sedang {
  border: solid lightblue;
  background-color: lightblue;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  transform: rotate(45deg);
  position: relative;
}

.box-besar {
  border: solid pink;
  background-color: pink;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  transform: rotate(45deg);
  position: relative;
}

